:root {
  --blue: #4e75ff;
  --blue-hover: #6c8cff;
  --red: #ff4e4e;
  --red-hover: #ff7070;
  --black: #2e2f42;
  --dark: #000000;
  --white: #ffffff;
  --grey: #f6f6fe;
  --disabled: #cfcfcf;
  --disabled-color: #989898;
  --grey-dark: #808080;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: block;
  position: relative;
  padding: 24px;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  min-height: 100%;
  color: var(--black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;
  transition: background-color 250ms ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

h1 {
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 24px;
  line-height: 1.3;
  margin-top: 16px;
}

.title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.navigation li {
  margin: 5px 0px;
}

.navigation a {
  color: var(--blue);
  font-weight: 600;
}

.navigation a :hover {
  color: var(--blue-hover);
  border-bottom: 2px solid var(--blue);
}

.navigation a :active {
  color: var(--black);
}

.button {
  font-family: 'Montserrat';
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 8px;
  padding: 8px 16px;
  transition:
    background-color 250ms ease 0s,
    color 250ms ease 0s,
    opacity 250ms ease 0s;
}

.button.red {
  background-color: var(--red);
  padding: 8px 26px;
}

.button:hover,
.button:focus {
  background-color: var(--blue-hover);
}

.button.red:hover,
.button.red:focus {
  background-color: var(--red-hover);
}

.button:disabled {
  background-color: var(--disabled);
  pointer-events: none;
  user-select: none;
  color: var(--disabled-color);
}

.go-back {
  margin-bottom: 24px;
}
